<!DOCTYPE html>
<html>
  <head>
    <title>{{job.title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width. initial-scale=1"/>
  </head>
  <body>
    <div><h3>Title</h3>
    <p>{{job[0].title}}</p>
    <h3>Location</h3>
    <p>{{job[0].location}}</p>
    <h3>Salary</h3>
    <p>{{job[0].currency}}{{job[0].salary}}</p>
    <h3>Responsibilitiess</h3>
    <p>{{job[0].responsibilities}}</p>
    <h3>Requirements</h3>
    <p>{{job[0].requirements}}</p>
    </div>
    <div>{%include 'application_form.html' %}</div>
    
  </body>
</html>